:root {
  --primaryColor: #5f2ded;
  --primaryColorRGB: "95, 45, 237";
  --secondaryColor: #00c4cc;
  --secondaryColorRGB: "0, 196, 204";
}

/* --------------------------------------------------------------
# General
-------------------------------------------------------------- */
body {
  /* font-family: "Open Sans", sans-serif; */
  color: #272829;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  position: relative;
}

::-moz-selection {
  /* Code for Firefox */
  color: #f2f3f5;
  background: var(--primaryColor);
}

::selection {
  color: #f2f3f5;
  background: var(--primaryColor);
}

a {
  color: var(--primaryColor);
  text-decoration: none;
}

a:hover {
  color: #067ded;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/* --------------------------------------------------------------
# Preloader
-------------------------------------------------------------- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--primaryColor);
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* --------------------------------------------------------------
# Disable aos animation delay on mobile devices
-------------------------------------------------------------- */
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/* --------------------------------------------------------------
# Header
-------------------------------------------------------------- */
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

@media (max-width: 991px) {
  #header {
    width: 300px;
    background: #fff;
    border-right: 1px solid #e6e9ec;
    left: -300px;
  }
}

@media (min-width: 991px) {
  #main {
    margin-left: 0px;
  }
}

/* --------------------------------------------------------------
# Navigation Menu
-------------------------------------------------------------- */
/* *
* Desktop Navigation */
.nav-menu {
  padding: 0;
  display: block;
}

.nav-menu::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  max-width: 86px;
  border: 3px solid #f2f3f5;
  border-left: unset;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #45505b;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #f2f3f5;
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

.nav-menu a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 26px;
  width: calc(50% + 15px);
  max-width: 43px;
  border: 1px solid #f2f3f5;
  z-index: -1;
}

/* .navbar a::after {
  content: "";
  position: absolute;
  top: 44%;
  left: 65px;
  width: 2px;
  height: 2px;
  max-width: 43px;
  border: 5px solid #f2f3f5;
  border-radius: 50%;
  z-index: -1;
} */

.nav-menu a.active::before {
  border: 1px solid var(--primaryColor);
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 20px;
}

.nav-menu a span,
.nav-menu a:focus span {
  padding: 0 5px 0 7px;
  color: #45505b;
}

@media (min-width: 992px) {
  .nav-menu a,
  .nav-menu a:focus {
    width: 56px;
  }

  .nav-menu a span,
  .nav-menu a:focus span {
    display: none;
    color: #fff;
  }
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a {
  color: #fff;
  background: rgba(0, 0, 0, 0.1)
    linear-gradient(90deg, var(--secondaryColor) 0%, var(--primaryColor) 100%)
    repeat scroll 0% 0%;
}

.nav-menu li:hover > a {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover > a span {
  color: #fff;
}

.nav-menu a:hover,
.nav-menu li:hover > a {
  width: 100%;
  color: #fff;
}

.nav-menu a:hover span,
.nav-menu li:hover > a span {
  display: block;
}

/* *
* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 0px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 28px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 0;
  cursor: pointer;
  border-radius: 50px;
  padding: 10px 24px;
  background: #ffffff;
  font-weight: 900;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: 0px 0 15px 2px rgb(159 161 164 / 27%);
}

.mobile-nav-toggle i {
  color: #45505b;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle {
  color: #fff;
  background-color: var(--primaryColor);
}

/* --------------------------------------------------------------
# Hero Section
-------------------------------------------------------------- */
#hero {
  width: 100%;
  height: 100vh;

  background: url("./../img/hero-bg.jpg") top left no-repeat;
  background-size: cover;
  position: relative;
}

#hero:before {
  content: "";

  background: rgba(0, 0, 0, 0.1)
    linear-gradient(
      45deg,
      rgba(75, 28, 210, 0) 0%,
      rgba(75, 28, 210, 0.35) 50%,
      rgba(75, 28, 210, 0.5) 70%,
      rgba(75, 28, 210, 0.7) 100%
    )
    repeat scroll 0% 0%;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

@media (min-width: 992px) {
  #hero {
    padding-left: 160px;
    padding-right: 130px;
  }
}

/* @media (max-width: 768px) {
  #hero:before {
    content: "";
    background: #ffffff;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
} */

#hero h1 {
  margin: 0;
  font-family: "Neuropolitical";
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;

  /* background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
  /* background-image: linear-gradient(179deg, rgb(35, 108, 192) 0%, rgb(6, 199, 242) 16%, rgb(6, 199, 242) 61%, rgb(33, 105, 189) 95%); */
  color: var(--primaryColor);
}

#hero p {
  color: #45505b;
  margin: 15px 0 0 0;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

#hero p span {
  color: var(--primaryColor);
  letter-spacing: 1px;
}

#hero .social-links {
  margin-top: 30px;
}

#hero .social-links a {
  font-size: 24px;
  display: inline-block;
  color: #45505b;
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}

#hero .social-links a:hover {
  color: var(--primaryColor);
}

@media (max-width: 992px) {
  #hero {
    text-align: center;
  }

  #hero h1 {
    font-size: 50px;
    line-height: 63px;
  }

  #hero p {
    margin-top: 10px;
    font-size: 15px;
    line-height: 24px;
  }
}
.company-details {
  margin-bottom: 50px;
}

.search-form {
  position: relative;
  margin: 34px 0px;
}

.search-form input {
  width: 100%;
  height: 60px;
  border-radius: 50px;
  border: 0px solid var(--borderColor);
  padding: 0 150px 0 180px;
  transition: 0.5s;
}

@media (max-width: 767px) {
  .search-form input {
    padding: 0 140px 0 170px;
  }
}

.search-form input:focus-visible {
  border: none;
  outline: var(--primaryColor) auto 0.5px;
  box-shadow: 0 0 50px 3px rgb(3 191 205);
  transition: 0.5s;
}

.search-form .search-form-categories {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  left: 30px;
  align-items: center;
  cursor: pointer;
}

.search-form .search-form-categories svg {
  color: var(--blackColor);
  width: 20px;
}

.search-form .search-form-categories .icon {
  margin-right: 5px;
  height: 20px;
  line-height: 1;
}

.search-form button {
  display: flex;
}

.search-form button svg {
  width: 20px;
  margin-right: 5px;
}

.search-form .wide {
  border: none;
  background: none;
  cursor: pointer;
}
.select2-container--default .select2-selection--single {
  border-radius: inherit;
  border: none !important;
  background: none !important;
  cursor: pointer;
}

.search-form .wide:focus-visible {
  outline: none;
}

.search-form .search-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translatey(-50%);
}

.search-form .search-btn .default-button {
  display: flex;
  align-items: center;
}

@media (min-width: 320px) and (max-width: 575px) {
  .search-form .search-btn .default-button {
    padding: 10px;
  }

  .search-form .search-btn .default-button span {
    display: none;
  }

  .search-form .search-btn .default-button span {
    display: none;
  }

  .categories-box select {
    width: 20px;
  }
  .select2-container--default .select2-selection--single {
    width: 20px;
  }

  .search-form input {
    padding: 0 70px 0 85px;
  }
}

.search-form .search-btn button {
  border-radius: 50px;
}

.keyfeatures {
  margin-top: 50px;
}

.keyfeatures ul {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .keyfeatures ul {
    flex-flow: column;
  }

  .keyfeatures ul li {
    margin-bottom: 15px;
  }
}

.keyfeatures li {
  color: #ffffff;
  margin: 0 10px;
}

/* --------------------------------------------------------------
# Sections General
-------------------------------------------------------------- */
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  font-family: "Neuropolitical";
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: var(--primaryColor);
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: var(--primaryColor);
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

.default-button {
  padding: 10px 25px;
  background-color: var(--primaryColor);
  background: var(--primaryColor);
  display: inline-block;
  text-align: center;
  font-size: 15px;
  border-radius: 50px;
  border: 1px solid var(--primaryColor);
  color: #ffffff;
  transition: 0.3s;
}

.default-button:hover {
  background-color: var(--primaryColor);
  background: rgba(0, 0, 0, 0.1)
    linear-gradient(90deg, var(--secondaryColor) 0%, var(--primaryColor) 100%)
    repeat scroll 0% 0%;
  color: #ffffff;
  border-color: transparent;
  transition: 0.3s;
}

/* --------------------------------------------------------------
# Bottom Section
-------------------------------------------------------------- */

.bottom-section {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  width: fit-content;
  overflow: hidden;
  transition: width 0.5s height 0.5s;
  transition: 0.5s;
}

.bottom-section ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.bottom-section ul li :not(.back-to-top-container) {
  transition: 0.3s ease;
}

.bottom-section .button {
  font-size: 15px;
  color: #ffffff;
  border: 0px;
  border: 2px solid transparent;
  border-radius: 50px;
  margin-right: 7px !important;
}

@media (max-width: 575.98px) {
  .bottom-section > ul {
    flex-direction: column;
    align-items: end;
  }

  .bottom-section li > .button {
    margin-bottom: 7px !important;
    transition: 0.3s;
  }
  .bottom-section li:not(:hover) > .button span {
    display: none !important;
    transition: 0.3s;
  }

  .bottom-section li:not(:hover) > .button {
    width: 44px;
    height: 44px;
    overflow: hidden;
  }

  .bottom-section li:not(:hover) .button.email,
  .bottom-section li:not(:hover) .button.whatsapp {
    padding: unset !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.bottom-section .button i {
  font-size: 20px;
}

.bottom-section .button.email {
  background-color: #ffffff;
  color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
  padding: 6px 25px;
  display: flex;
  align-items: center;
}

.bottom-section .button.whatsapp {
  background-color: #ffffff;
  color: #18d26e;
  border: 2px solid #18d26e;
  padding: 6px 25px;
  display: flex;
  align-items: center;
}

.bottom-section .button.email:hover {
  background-color: var(--primaryColor);
  color: #ffffff;
}

.bottom-section .button.whatsapp:hover {
  background-color: #18d26e;
  color: #ffffff;
}

/* .bottom-section :nth-child(1) {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.bottom-section :nth-last-child(1) {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
} */

.back-to-top-container {
  max-height: 0px;
  max-width: 0px;
  transition: 0.3s ease;
  transition: max-height 0.3s ease max-width 0.3s ease;
}

.back-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: var(--primaryColor);
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition: all 0.3s;
  border: 2px solid var(--primaryColor);
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #0678e3;
  color: #fff;
}

.back-to-top-container.active {
  max-height: unset;
  max-width: unset;
  transition: 0.3s;
}
/* --------------------------------------------------------------
# About-us
-------------------------------------------------------------- */

.about-us .heading h2 {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

.about-us .content.quote {
  margin-bottom: 40px;
  border-left: 3px solid var(--primaryColor);
  padding-left: 10px;
}

.about-us .explore-more {
  background: var(--primaryColor);
  color: #ffffff;
  border: 1px solid var(--primaryColor);
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  font-size: 15px;
  padding: 10px 25px;
}

.about-us .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #728394;
}

.about-us .content ul {
  list-style: none;
  padding: 0;
}

.about-us .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about-us .content ul strong {
  margin-right: 10px;
}

.about-us .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: var(--primaryColor);
  line-height: 0;
}

.about-us .content p:last-child {
  margin-bottom: 0;
}

.about-us .about-us-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #45505b;
}

.about-us .about-us-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid var(--primaryColor);
  position: relative;
}

.about-us .about-us-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: var(--primaryColor);
  margin-bottom: 10px;
}

.about-us .about-us-item h5 {
  font-size: 16px;
  background: #f7f8f9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.about-us .about-us-item ul {
  padding-left: 20px;
}

.about-us .about-us-item ul li {
  padding-bottom: 10px;
}

.about-us .about-us-item:last-child {
  padding-bottom: 0;
}

.about-us .about-us-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid var(--primaryColor);
}

.about-us .item {
  --itemColor: var(--primaryColor);
  padding: 30px;
  box-shadow: 0 0 50px 10px rgba(var(--primaryColorRGB), 0.1);
  margin-bottom: 30px;
  transition: 0.3s;
  position: relative;
  border-radius: 10px;
  background: #ffffff;
}
.about-us .item:hover {
  background: var(--itemColor);
  transform: translateY(-5px);
}
.about-us .item:hover .item-small-img svg {
  opacity: 1;
}
.about-us .item:hover .item-img {
  color: #ffffff;
}
.about-us .item .item-img {
  position: relative;
  margin-bottom: 10px;
}
.about-us .item .item-img img {
  max-width: 60px;
  margin-bottom: 10px;
}
.about-us .item .item-img svg {
  max-height: 60px;
  transition: 0.3s;
}
.about-us .item .item-img .item-bg-img svg {
  position: absolute;
  top: -13px;
  left: -10px;
  max-height: 60px;
  transition: 0.3s;
}
.about-us .item:hover .item-img .item-icon path {
  fill: #ffffff;
}
.about-us .item:hover .item-img .item-icon-bg path {
  fill: #ffffff;
}
.about-us .item:hover .item-content h3 a {
  color: #ffffff;
}
.about-us .item:hover .item-content h3 a:hover {
  color: #ffffff;
}
.about-us .item:hover .item-content p {
  color: #ffffff;
}
.about-us .item:hover .item-button a {
  color: #ffffff;
}
.about-us .item.ss_margin {
  margin-top: 50px;
}
@media (max-width: 767px) {
  .about-us .item.ss_margin {
    margin-top: 0;
  }
}
.about-us .item .item-content h3 {
  font-size: 17px;
  margin-bottom: 0;
}

.about-us .item .item-content h3 a {
  color: #000000;
  font-weight: 700;
  transition: 0.3s;
}
.about-us .item .item-content p {
  font-size: 11px;
  line-height: 19px;
}
.about-us .item .item-button {
  margin-top: 0px;
}
.about-us .item .item-button a {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--itemColor);
}

/* --------------------------------------------------------------
# Facts
-------------------------------------------------------------- */
.facts .count-box {
  padding: 30px 30px 25px 30px;
  margin-top: 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: #fff;
}

.facts .count-box i {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: var(--primaryColor);
  color: #fff;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}

.facts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #011426;
}

.facts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

/* --------------------------------------------------------------
# Akills
-------------------------------------------------------------- */
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #45505b;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #f2f3f5;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: var(--primaryColor);
}

/* --------------------------------------------------------------
# Resume
-------------------------------------------------------------- */
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #45505b;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid var(--primaryColor);
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: var(--primaryColor);
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #f7f8f9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid var(--primaryColor);
}

/* --------------------------------------------------------------
# Portfolio
-------------------------------------------------------------- */
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  background: #fff;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #272829;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: var(--primaryColor);
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(69, 80, 91, 0.8);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #d7dce1;
  border-left: 3px solid #d7dce1;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #d7dce1;
  border-right: 3px solid #d7dce1;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #45505b;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #45505b;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #45505b;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #148af9;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}

/* --------------------------------------------------------------
# Portfolio Details
-------------------------------------------------------------- */
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details
  .portfolio-details-slider
  .swiper-pagination
  .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid var(--primaryColor);
}

.portfolio-details
  .portfolio-details-slider
  .swiper-pagination
  .swiper-pagination-bullet-active {
  background-color: var(--primaryColor);
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(69, 80, 91, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

/* --------------------------------------------------------------
# Services
-------------------------------------------------------------- */
.services .icon-box {
  text-align: center;
  padding: 70px 20px 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
}

.services .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.services .icon-box .icon i {
  font-size: 36px;
  transition: 0.5s;
  position: relative;
}

.services .icon-box .icon svg {
  position: absolute;
  top: 0;
  left: 0;
}

.services .icon-box .icon svg path {
  transition: 0.5s;
  fill: #f5f5f5;
}

.services .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}

.services .icon-box h4 a {
  color: #45505b;
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}

.services .iconbox-blue i {
  color: #47aeff;
}

.services .iconbox-blue:hover .icon i {
  color: #fff;
}

.services .iconbox-blue:hover .icon path {
  fill: #47aeff;
}

.services .iconbox-orange i {
  color: #ffa76e;
}

.services .iconbox-orange:hover .icon i {
  color: #fff;
}

.services .iconbox-orange:hover .icon path {
  fill: #ffa76e;
}

.services .iconbox-pink i {
  color: #e80368;
}

.services .iconbox-pink:hover .icon i {
  color: #fff;
}

.services .iconbox-pink:hover .icon path {
  fill: #e80368;
}

.services .iconbox-yellow i {
  color: #ffbb2c;
}

.services .iconbox-yellow:hover .icon i {
  color: #fff;
}

.services .iconbox-yellow:hover .icon path {
  fill: #ffbb2c;
}

.services .iconbox-red i {
  color: #ff5828;
}

.services .iconbox-red:hover .icon i {
  color: #fff;
}

.services .iconbox-red:hover .icon path {
  fill: #ff5828;
}

.services .iconbox-teal i {
  color: #11dbcf;
}

.services .iconbox-teal:hover .icon i {
  color: #fff;
}

.services .iconbox-teal:hover .icon path {
  fill: #11dbcf;
}

.service {
  --boxColor: #ffffff;
  --boxIconColor: #545e68;
  position: relative;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  height: 390px;
  padding: 70px 40px 80px 40px !important;
}

.service .service-image {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: 50% center;
  transition-duration: 0.4s;
  transition-delay: 0s;
}

.service .service-image::before {
  content: "";
  position: absolute;
  --transparent: 20%;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(6, 199, 242, 0.5);
  background-color: color-mix(in srgb, var(--boxColor) 50%, transparent);
  filter: contrast(0.3) saturate(0.7) brightness(0.7);
}

.service:hover .service-image::before {
  content: "";
  filter: none;
}

.service:hover .service-content::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.service:hover .service-content::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.service:hover .icon {
  border-radius: 50%;
  transition-duration: 0.4s;
  transition-delay: 0s;
  transform: rotate(0deg);
}

.service .icon i {
  color: var(--boxColor) !important;
  transition-duration: 0.2s;
  transition-delay: 0s;
}

.service:hover .icon i {
  color: var(--boxColor) !important;
  font-size: 60px;
}

.services .service:hover .icon path {
  transition-duration: 0.4s;
  transition-delay: 0s;
  fill: #ffffff;
}

.services ::selection {
  background-color: var(--boxColor);
}

.services .service:hover .icon {
  background-color: #ffffff;
  box-shadow: 0 0 50px 3px #ffffff;
  border-radius: 10px;
  transition-duration: 0.4s;
  transition-delay: 0s;
}

.service:hover .service-image {
  transform: scale(1.2);
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  background-color: #ffffff;
}

.service-content {
  position: absolute;
  width: fit-content;
  height: 100%;
  padding: inherit;
  margin: inherit;
  top: 0;
  left: 0;
}

.service .service-title *,
.service .service-desc {
  color: #ffffff !important;
  text-shadow: 0 0 4px var(--boxColor);
}

/* --------------------------------------------------------------
# Testimonials
-------------------------------------------------------------- */
.testimonials .section-header {
  margin-bottom: 40px;
}

.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .testimonial-item {
  text-align: center;
}

.testimonials .testimonial-item .testimonial-img {
  width: 120px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 15px 0;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: #90c8fc;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid var(--primaryColor);
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--primaryColor);
}

@media (min-width: 992px) {
  .testimonials .testimonial-item p {
    width: 80%;
  }
}

/* --------------------------------------------------------------
# Contact
-------------------------------------------------------------- */
.contact {
  background-image: url(../img/_0ea4887c-ee6e-49b4-869d-323b8be9463b.jpeg);
  position: relative;
  margin-bottom: 150px;
  overflow: initial;
}

.contact::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  left: 0;
  right: auto;
  background: rgba(38, 3, 145, 0.46);
  top: 0;
  bottom: 0;
}

.contact-form {
  position: relative;
  z-index: 1;
  padding: 40px 35px 35px 35px;
  background: #fff;
  box-shadow: 0px 30px 40px 0px rgba(1, 11, 60, 0.06);
  border-radius: 4px;
  margin-bottom: -150px;
}
.contact .section-title h2 {
  color: #ffffff;
}
.contact .section-title h2::before {
  background: #ddd;
}

.contact .section-title h2::after {
  background: #ffffff;
}

.contact .info {
  width: 100%;
}

.contact .info i {
  font-size: 20px;
  color: #45505b;
  float: left;
  width: 44px;
  height: 44px;
  background: #f2f3f5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

/* .contact .info i:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.1)
    linear-gradient(45deg, rgb(43 0 166) 0%, rgb(95 45 237) 100%) repeat
    scroll 0% 0%;
  
} */

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #ffffff;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #fefefe;
}

.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  box-shadow: 0px 0px 30px 5px rgba(255, 255, 255, 0.8);
}

.contact .email-form {
  width: 100%;
  background: #fff;
}

.contact .email-form .form-group {
  padding-bottom: 8px;
}

.contact .email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .email-form .error-message br + br {
  margin-top: 25px;
}

.contact .email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .email-form input,
.contact .email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}

.contact .form-control {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
  background-color: #f4f7fe;
  border: unset;
}

.contact .email-form input {
  height: 44px;
}

.contact .email-form textarea {
  padding: 10px 12px;
}

.contact .email-form .default-button {
  padding: 10px 35px;
  border-radius: 50px;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* --------------------------------------------------------------
# Footer
-------------------------------------------------------------- */
#footer {
  background: #f7f8f9;
  color: #45505b;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  position: relative;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Neuropolitical";
  padding: 0;
  margin: 0 0 15px 0;
  /* background-clip: text; */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  /* background-image: linear-gradient( 179deg, rgb(95 45 237) 4%, rgb(6, 199, 242) 44%, rgb(95 45 237) 95% ); */
  color: var(--primaryColor);
}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: var(--primaryColor);
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #0678e3;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}
